<h1>Hello {{name}}</h1>
<hr/>
<div style="height:200px; overflow:auto;">

    <table>
        <tr>
            <td>Id</td>
            <td>UserId</td>
            <td>Title</td>
            <td>Body</td>
        </tr>
        <tr *ngFor="let item of data">
            <td>{{item.id}}</td>
            <td>{{item.userId}}</td>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
        </tr>
    </table>
</div>
<hr/>
<input [(ngModel)]="PostId" name="PostId" />
<button (click)='GetPost()'>Get Post</button>

<table>
    <tr>
        <td>Id</td>
        <td>{{SinglePost.id}}</td>
    </tr>
    <tr>
        <td>UserId</td>
        <td>{{SinglePost.userId}}</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{SinglePost.title}}</td>
    </tr>
    <tr>
        <td>Body</td>
        <td>{{SinglePost.body}}</td>
    </tr>
</table>